@import 'base/animations';
@import 'base/mixins';
@import 'base/variables';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btns';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/whatuse';
@import 'blocks/works';
@import 'blocks/pricelist';
@import 'blocks/resume';
@import 'blocks/contacts';

@import 'base/media';